<% # first two are read only (come from opiton_type.rb) %>
<h4><%= Spree.t("name") %>: <%= f.object.option_type.name%></h4>
<h4><%= Spree.t("presentation") %>: <%= f.object.option_type.presentation%></h4>
<%= f.field_container :is_required do %>
  <%= f.label :position, Spree.t("position_within_product") %><br />
  <%= f.number_field :position %>
  <%= f.error_message_on :position %>
<% end %>
<%= f.field_container :is_required do %>
  <%= f.label :is_required, Spree.t("required") %> <span class="required">*</span><br />
  <%= f.check_box :is_required %>
  <%= f.error_message_on :is_required %>
<% end %>



